.app {

  > div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }
}

.user {
  position: relative;
  background: lightblue;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin-top: 50px;
}

.status-list {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
}

.tooltip {
  position: absolute;
  top: -10px;
  width: 80px;
  background: #666;
  color: white;
  text-align: center;
}
